<section
  class="w-full flex flex-col gap-4 justify-center items-center h-[80vh]"
>
  <h2
    class="max-w-[70rem] text-6xl text-center font-poppins font-bold leading-20"
  >
    Creamos p치ginas web profesionales que impulsan tu negocio
  </h2>
  <p class="max-w-[40rem] text-md text-center">
    Desarrollo web moderno, r치pido y optimizado para atraer clientes desde el
    primer clic. Ideal para campa침as con Google Ads, redes sociales o
    posicionamiento SEO.
  </p>
  <a href="/#contact" class="bg-black text-white py-2 px-4 border rounded-4xl"
    >Solicita tu cotizaci칩n gratuita</a
  >
</section>
